<template>
    <v-container fluid>
        <v-form>
            <v-file-input 
                multiple
                chips 
                v-model="arquivos" 
                label="Selecione o arquivo de log" 
                prepend-icon="mdi-message-text" 
                outlined 
                append-outer-icon="mdi-send" 
                @click:append-outer="processSubtitles"/>

            
        </v-form>
        <div class="pills">
            <Pill v-for="word in groupedWords" :key="word.name" :name="word.name" :amount="word.amount" />
        </div>
    </v-container>
</template>

<script>
import { ipcRenderer } from 'electron'
import Pill from './Pill'

export default {
    components: {Pill},
    data: function(){
        return{
            arquivos: [],
            groupedWords: []
        }
    }, 
    methods: {
        processSubtitles(){
            console.log(this.arquivos);
            const paths = this.arquivos.map(f => f.path);
            ipcRenderer.send('process-subtitles', paths);
            ipcRenderer.on('process-subtitles', (event, resp) => {
                this.groupedWords = resp;
                console.log(this.groupedWords);
            })
        }
    }
}
</script>

<style>
    .pills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
</style>